@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

li { list-style: none; }

a { 
  outline: none;
  text-decoration: none;
}


@font-face {
  font-family: GillSans;
  src: url(../vendor/gillsans.ttf);
}

@font-face {
  font-family: Adobe Caslon Pro;
  src: url(../vendor/Adobe-Caslon-Pro-Regular.ttf);
}

/*start of wrapper*/

.wrapper {
  width: 96%;
  max-width: 998px;
  margin: 0 auto;
}

/*end of wrapper*/

/*start of header*/

header { 
  width: 100%;
  border-top: 9px solid #000;
  position: fixed;
  z-index: 2;
  top: 0;
  background: rgba(0,0,0,.6);
}

.header-contain { 
  margin: 9px 0 28px 0;
  position: relative;
}

h1 {
  margin-top: 29px;
  display: inline-block;
}

h1 a { display: inline-block; }

.header-social { 
  margin-bottom: 14px;
  text-align: right;
}

.social-nav { float: right; }

.lang { 
  margin-top: 4px;
  display: inline-block;
}

.header-social .lang li { display: inline-block; }

.lang li a { 
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font: 400 12px GillSans;
  text-align: right;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}

.header-social .lang li:first-child:after {
  content: '';
  height: 12px;
  padding-right: 5px;
  border-right: 1px solid #fff;
  display: inline-block;
}

.header-social .lang li:last-child { padding-left: 2px; }

.active { 
  color: #e60094;
  font: 400 14px GillSans;
}

.lang li a:hover,
.lang li:first-child a { color: #e60094; }

.social-nav > .header-social > form { 
  margin-left: 18px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.social-nav > .header-social > form > input { 
  width: 70px;
  height: 15px;
  padding: 1px 15px 1px 2px;
  border: none;
  background: #6d6e71;
  color: #fff;
}

form label { 
  position: absolute;
  top: -1px;
  right: 5px;
}

.social-nav > .header-social > .icons { 
  display: inline-block;
  vertical-align: top;
}

.social-icon { 
  margin: 1px 0 0 2px;
  display: inline-block;
  vertical-align: top;
}

.social-icon li { 
  width: 16px;
  height: 16px;
  display: inline-block; 
  vertical-align: top;
  background-color:  #6d6e71;
  text-align: center;
}

.social-icon li a { 
  width: 16px;
  display: inline-block;
  text-indent: -9999px;
  transition: all 0.5s ease-in-out;
}

.facebook { background: url(../images/sprite.png) no-repeat 0 -41px; }

.twitter { background: url(../images/sprite.png) no-repeat -19px -41px; }

.pinterest {background: url(../images/sprite.png) no-repeat -40px -41px; }

.instagram { background: url(../images/sprite.png) no-repeat -60px -41px; }

.tumblr { background: url(../images/sprite.png) no-repeat -79px -41px; }

.youtube { background: url(../images/sprite.png) no-repeat -98px -41px; }

/*Social icons hover effect*/
.facebook:hover { background: url(../images/sprite.png) no-repeat 0 -61px; }

.twitter:hover { background: url(../images/sprite.png) no-repeat -19px -61px; }

.pinterest:hover { background: url(../images/sprite.png) no-repeat -40px -61px; }

.instagram:hover { background: url(../images/sprite.png) no-repeat -60px -61px; }

.tumblr:hover { background: url(../images/sprite.png) no-repeat -79px -61px; }

.youtube:hover { background: url(../images/sprite.png) no-repeat -98px -61px; }

nav ul li { 
  margin-left: -4px;
  display: inline-block;
  vertical-align: top;
}

nav ul li:nth-of-type(1) { 
  width: 25px;
  height: 15px;
  margin: 0 11px 10px 0;
}

nav ul li a {
  margin: 0 9px;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font: 400 14px GillSans;
  text-align: right;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

nav ul li a span {
  width: 16px;
  height: 15px;
  background: url(../images/sprite.png) no-repeat 0 0;
  display: inline-block;
  text-indent: -99999px;
  transition: 0.5s ease-in-out;
}

nav ul li:after {
  content: '';
  height: 12px;
  border-right: 1px solid #fff;
  display: inline-block;
}

nav ul li:nth-of-type(1):after { border-right: none; }

nav ul li:nth-of-type(2) a { border-left: none; }

nav ul li:nth-of-type(7):after { border-right: 0; }

nav ul li:nth-of-type(7) a { margin-right: 0; }

nav ul li a:hover { color: #e60094; }

nav ul li a:hover span { 
  width: 16px;
  background: url(../images/sprite.png) no-repeat 0 -17px;
  display: inline-block;
}

nav ul li .active-home span { 
  width: 16px;
  height: 15px;
  background: url(../images/sprite.png) no-repeat 0 -17px;
  display: inline-block;
}

.collection h2 { 
  font-size: 45px; 
  text-align: center;
}


/*end of header*/

/*start of home page*/

main .slider figure img { width: 100%; }

.slider { position: relative; }

.arrow li:nth-of-type(1),
.arrow li:nth-of-type(2) {
  width: 3%; 
  position: absolute;
  top: 49%;
}

.arrow li:nth-of-type(1) { left: 5.5%; }
.arrow li:nth-of-type(2) { right: 5.5%; }


.arrow li .left-arrow {
  width: 100%;
  height: 50px;
  display: inline-block;
  background: url(../images/left.png) no-repeat left;
  background-size: contain;
  text-indent: -9999px;
  opacity: 0.6;
}

.arrow li .right-arrow {
  width: 100%;
  height: 50px;
  display: inline-block;
  background: url(../images/right.png) no-repeat right;
  background-size: contain;
  text-indent: -9999px;
  opacity: 0.6;
}

.arrow li a:hover { opacity: 1; }

.next { 
  position: absolute;
  bottom: 29px;
  left: 47%;
}

.next li { 
  margin: 0 -4px 0 7px;
  display: inline-block;
}

.next li:first-child { margin-left: 0; }

.next li a {
  width: 12px;
  height: 12px;
  display: inline-block;
  text-indent: -9999px;
}

.first-tab { background: url(../images/first.png) no-repeat; }

.second-tab { background: url(../images/second.png) no-repeat; }

.third-tab { background: url(../images/third.png) no-repeat; }

.fourth-tab { background: url(../images/fourth.png) no-repeat; }

.next li a:hover { background: url(../images/second.png) no-repeat; }

.main-contain { margin: 71px 0 71px 35px; }

.main-contain li a img { width: 100%; }

.main-contain li {
  margin: 0 -4px 15px 15px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.main-contain li:nth-of-type(1) { 
  width: 30.9%;
  margin-left: 0;
}

.main-contain li:nth-of-type(2) { width: 63.6%; }

.main-contain li:nth-of-type(3) { 
  margin-left: 0;
  width: 31%;
  background: url(../images/black.png) no-repeat;
}

.main-contain li:nth-of-type(3) img { width: 100%; }

.main-contain li:nth-of-type(4) { width: 31%; }

.main-contain li:nth-of-type(5) { width: 31.1%; }

.main-contain li:nth-of-type(6) { 
  width: 96.2%;
  margin: 0;
}

.main-contain li a { display: inline-block; }

.about { 
  position: absolute;
  top: 13%;
  left: 13%;
}

.view {
  color: #fff;
  font: 300 2.7vw/3vw GillSans;
  text-align: left;
  text-transform: uppercase;
}

.more { 
  color: #fff;
  font: 400 2.6vw/3.5vw GillSans;
  text-align: left;
  text-transform: uppercase;
}

.arrow-right {
  width: 14px;
  height: 13px;
  margin: 25px 0 0 2px;
  background: url(../images/arrow.png) no-repeat;
  display: inline-block;
}

.see-more a {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  color: #e60094;
  text-align: center;
  text-transform: uppercase;
 }

.see-more {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  text-align: center;
}

.see-more a span:after {
  content: url(../images/hover.png);
  padding-left: 5px;
}

.see-more > a > span { 
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 47px);
}

.about span { display: block; }

.main-contain li:nth-of-type(1):hover .about { display: none; }

.main-contain li:hover .see-more { display: block; }

.read-more { 
  width: 79%;
  position: absolute;
  top: 13%; 
  left: 8%;
}

.read-more p:nth-of-type(1) { 
  width: 40%;
  margin-bottom: 45px;
  color: #fff;
  font: 400 2vw/2vw GillSans;
  text-align: left;
}

.read-more p:nth-of-type(2) {
  width: 31%;
  color: #fff;
  font: 400 1.5vw/1.8vw Adobe Caslon Pro;
  text-align: left;
}

.read-more span { 
  display: block;
  color: #3e3e3e;
  font: 400 1.5vw/2vw Adobe Caslon Pro;
  text-align: left;
}

.main-contain li:nth-of-type(2):hover .read-more { display: none; }

.main-contain li:nth-of-type(3) p { 
  width: 65%;
  padding: 47.5px 16%; 
  color: #b6b6b6;
  font: italic 2vw/2.5vw Adobe Caslon Pro;
  letter-spacing: 0.5px;
  text-align: center;
}

.invert { 
  width: 17px;
  height: 16px;
  position: absolute;
  top: 44px;
  left: 10%;
  background: url(../images/invert.png) no-repeat;
  display: inline-block;
}

.more-collection { 
  position: absolute; 
  top: 13%;
  left: 12%;
}

.more-collection span ,
.view-stories p span { 
  display: block;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
}

.more-collection span:nth-of-type(1) ,
.view-stories p span:nth-of-type(1) { font: 300 1.5vw/3vw GillSans; }

.more-collection span:nth-of-type(2) ,
.more-collection span:nth-of-type(3) ,
.view-stories p span:nth-of-type(2),
.view-stories p span:nth-of-type(3) { font: 400 2vw/3vw GillSans; }

.main-contain li:nth-of-type(4):hover .more-collection { display: none; }

.view-stories {
  position: absolute;
  top: 13%;
  left: 13%;
}

.main-contain li:nth-of-type(5):hover .view-stories { display: none; }

/*end of home*/

/*start of studio page*/

.studio-contain { margin: 167px 0 63px 0; }

.press-contain { margin: 166px 0 67px 0; }

.care-contain { margin: 166px 0 71px 0; }

.care-contain h2 , .contact-contain h2 , .stocklist-contain h2 { margin-bottom: 35px; }

.stocklist-contain , .contact-contain { margin: 168px 0 71px 0; }

h2 img { width: 100%; }

h2 { margin-bottom: 33px; }

.studio-contain ul li { 
  width: 48.2%;
  display: inline-block;
  vertical-align: top;
}

.studio-contain ul,
.care-contain .information,
.press-article,
.map,
.contact-customer { margin: 0 32px; }

.studio-contain > ul li:nth-of-type(1), .title { margin-right: 3%; }    

.studio-contain ul li h3 {
  margin-bottom: 5px;
  color: #000;
  font: italic 24px Adobe Caslon Pro;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
}

.studio-contain ul li span {
  margin-bottom: 26px;
  display: block;
  color: #000;
  font: 300 14px/18px GillSans;
  text-align: center;  
}

.studio-contain ul li p {
  color: #000;
  font: 400 14px/22px Adobe Caslon Pro;
  text-align: left;
}
.studio-contain ul li p:nth-of-type(1) { margin-bottom: 13px; }

/*end of studio page*/

/*start of collection*/

.collection-contain { margin: 139px 0 71px 0; }

/*end of collection*/

/*start of care page*/

.title {
  width: 33%; 
  display: inline-block;
  vertical-align: top;
}

.title h3 { 
  color: #000;
  font: italic 24px/24px Adobe Caslon Pro;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-align: center;
}

.title span { 
  display: block;
  color: #000;
  font: italic 14px/24px Adobe Caslon Pro;
  letter-spacing: 0.28px;
  text-align: center;
}

.title p:nth-of-type(1) { margin-bottom: 15px; }

.title p {
  color: #000;
  font: 300 14px/18px GillSans;
  text-align: center;
}

.photos { 
  width: 63%;
  display: inline-block;
  vertical-align: top;
}

.photos li figure img { width: 100%; }

.photos li:nth-of-type(1) { 
  width: 98.9%;
  margin-bottom: 14px;
}

.photos li:nth-of-type(2) { 
  width: 49%;
  margin-right: 1.3%;
  display: inline-block;
  vertical-align: top;
}


.photos li:nth-of-type(3) { 
  width: 47.8%;
  display: inline-block;
  vertical-align: top;
}

/*end of care page*/

/*start of stocklist page*/

.store-info { margin: 0 16px 0 32px; }

.store-info ul { 
  width: 26%;
  padding: 0 5%;
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #e5e5e5;
}
.store-info ul:nth-of-type(1) { padding-left: 0; }

.store-info ul:nth-of-type(3) { 
  padding-right: 0;
  border-right: none;
}

.store-info ul li { margin-bottom: 30px; }

.store-info ul li:nth-of-type(n+4) { margin-bottom: 0; }

.store-info ul li h3 {
  margin-bottom: 15px; 
  color: #404041;
  font: 400 13px/15px Adobe Caslon Pro;
  text-transform: uppercase;
}

.store-info ul li span {
  display: block;
  color: #5c5d5f;
  font: 300 12px/15px GillSans ;
  text-transform: uppercase;
}

.store-info ul li address span a {
  color: #5c5d5f;
  font: 300 12px/16px GillSans ;
  transition: all 0.5s ease-in-out;
}

.store-info ul li address span:nth-of-type(3) span { display: inline-block; }

.store-info ul li address span:nth-of-type(3) > span:first-child:after {
  content: '';
  height: 12px;
  border-right: 1px solid #5c5d5f;
  margin-left: 4px;
}

.store-info ul li address span a:hover { color: #e60094; }


/*end of stocklist page*/

/*start of press page*/

.article {
  border-bottom: 1px solid #a1a1a1;
  padding-bottom: 3px;
}

.article h3 { 
  float: left;
  color: #202021;
  font: 400 19.74px Adobe Caslon Pro;
  text-align: left;
  text-transform: uppercase;
}

.press .article a { 
  margin-top: 13px;
  float: right;
  color: #5c5d5f;
  font: 300 9.87px GillSans;
  text-align: left;  
  text-transform: uppercase;
}

.press-article ul { 
  width: 100%;
  margin-top: 13px;
}

.press-article ul li { 
  width: 32.5%;
  margin: 0 -4px 0 1.2%;
  display: inline-block;
  vertical-align: top;
}

.press-article ul li:nth-of-type(1) { margin-left: 0; }

.press-article ul li figure img { 
  width: 100%;
  margin-bottom: 20px;
}

.more-info:hover { color: #000; }

.download { float: right; }

.ipsum { 
  width: 50%;
  float: left;
}

.ipsum h4 {
  color: #404041;
  font: 700 14px/19px Adobe Caslon Pro;
  text-align: left;
}

.ipsum p { 
  margin-bottom: 9px;
  display: inline-block;
  color: #202021;
  font: 300 11.84px GillSans;
  text-align: left;
}

.ipsum a { 
  color: #5c5d5f;
  font: italic 300 9.87px GillSans;
  text-align: left;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}

.ipsum a:hover { color: #e60094; }

.download {
  padding: 5px 8px;
  background: #000;
  color: #fff;
  font: 400 9px GillSans;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}

.download:hover { color: #e60094; }

/*end of press page*/

/*start of contact page*/

.map figure img { width: 100%; }

.contact-customer { margin-top: 22px; }

.contact-form {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}


.contact-form h3 {
  margin-bottom: 15px;
  color: #5c5d5f;
  font: 400 22.32px Adobe Caslon Pro;
  text-transform: uppercase;
}

.contact-form > form > input {
  width: 97%;
  height: 31px;
  border-color: #cfcfcf;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 6px;
  display: block;
  background-color: #fff;
  outline: none;
}

.contact-form > form > textarea {
  width: 97%;
  height: 127px;
  padding-top: 5px;
  border-color: #cfcfcf;
  border-style: solid;
  border-width: 1px;
  display: block;
  background-color: #fff;
  outline: none;
}

.contact-form > form > input[placeholder],
textarea[placeholder] {
  padding: 0 6px;
  font: 400 12.5px GillSans;
  color: #949595;
  text-align: left;
}

.contact-form > form > a { display: none; }

.enquiry { 
  width: 45%;
  margin: 10px 0 0 27px;
  display: inline-block;
  vertical-align: top;
}

.enquiry h4 { 
  color: #404041;
  font: 400 12px Adobe Caslon Pro;
  text-transform: uppercase;
}
.ecommerce {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}
.ecommerce address{ margin-top: 14px; }

.ecommerce address span,
.others address span {
  display: block;
  color: #7e7e7e;
  font: 300 12px/16px GillSans;
}

.ecommerce address span a { 
  display: inline-block; 
  color: #7e7e7e;
  font: 300 12px GillSans;
  transition: all 0.5s ease-in-out;
}

.ecommerce address span a:hover { color: #e60094; }

.send {
  width: 60%;
  padding: 5px 4%;
  margin-top: 23px;
  display: block;
  background: #000; 
  color: #fff;
  font: 700 12.5px GillSans;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.12);
  transition: all 0.5s ease-in-out;
}

.send:hover { color: #e60094; }

.others { 
  width: 35%;
  margin: 11px 0 0 14%;
  display: inline-block;
  vertical-align: top;
}

.others > address > span > a {
  display: inline-block;
  color:  #7e7e7e;
  font: 300 12px/15px GillSans;
  text-align: left;
  transition: all 1s ease-in-out;
}

.others address:nth-of-type(1) { margin-bottom: 16px; }

.others > address > span > a:hover { color: #e60094; } 
/*end of contact page*/

/*start of footer*/

footer { background: #000; }

.copyright { 
  margin-top: 29px;
  display: inline-block;
}

.footer-contain { margin: 27px 0 36px 0; }

.copyright span { 
  color: #e2e7ed;
  font: 400 11px/24px GillSans;
  text-align: left;
}

/*end of footer*/

/*start of media query*/

@media screen and (max-width: 768px) {
  h1 { margin-top: 25px; }

  nav > a { 
   width: 15px;
    height: 10px;
    padding: 10px;
    /* margin-top: -1px; */
    display: inline-block;
    background: #000 url(../images/sprite.png) no-repeat -81px -80px;
    cursor: pointer;
  }
 
  nav ul { 
   box-sizing: border-box;
   width: 100%;
   display: none;
   position: absolute;
   top: 52px;
   right: 0;
   left: -4px;
  }
 
  nav ul li { 
   width: 100%;
   padding-right: 14px;
   border: none;
   background: #000;
  }

  nav ul li:nth-of-type(1) { 
    width: 100%;
    height: 33px;
    padding-bottom: 8px;
    margin: 0 0 0 -4px;
  } 

  nav ul li:nth-of-type(1) a { width: 100%; }

  nav ul li a:hover { color: #fff; }
 
  nav li:last-child { border: none; }
 
  nav ul li:after {
   content: '';
   border-right: none;
  }

  nav ul li a { 
   margin-top: 10px;
   display: block;
   text-align: left;
  }
 
  nav > a:hover { background: #000 url(../images/sprite.png) no-repeat -81px -125px; }
 
  nav:hover ul { display: block; }   

  .icons > a { 
    width: 15px;
    height: 10px;
    padding: 10px;
    position: absolute;
    right: 99px;
    top: 22px;
    background: #000 url(../images/sprite.png) no-repeat 6px -83px;
    cursor: pointer;
  }

  .icons > a:hover { background: #000 url(../images/sprite.png) no-repeat 6px -128px; }

  .icons ul { 
    box-sizing: border-box;
    width: 100%;
    display: none;
    position: fixed;
    top: 69px;
    right: -10px;
    left: 0px;
  }

  .icons > ul > li { 
    width: 100%;
    height: 40px;
    margin-left: -2px;
    background: #000;
  }

  .icons .social-icon li a { 
    width: 100%;
    padding: 10px 0px;
    margin-left: 10px;
    display: block;
    background: none;
    color: #fff;
    text-align: left;
    text-indent: 0;
    text-transform: uppercase;
  }
  
  .icons .social-icon li a:hover { background: none; }

  .icons:hover .social-icon , .social-icon li { 
    width: 100%;
    display: block;
    text-align: left;
  }

  .social-nav > .header-social > form > a { 
    width: 15px;
    height: 10px;
    padding: 10px;
    background: #000 url(../images/sprite.png) no-repeat -37px -83px;
    display: inline-block;
    position: fixed;
    top: 40px;
    right: 63px;
    text-indent: -9999px;
  }

  .social-nav > .header-social > form > a:hover { background: #000 url(../images/sprite.png) no-repeat -37px -128px;  }

  .store-info { margin: 0; }

  .footer-contain > .social-nav { display: none; }

  .wrapper .main-contain li { 
    width: 95%;
    margin: 14px auto;
    display: block;
  }

  .main-contain li a { width: 100%; }

  .header-social { margin-bottom: -18px; }

 /*  .wrapper .main-contain li:nth-of-type(2) { height: auto; }

  .wrapper .main-contain li:nth-of-type(6) { width: 100%; } */

  .nulla p {
    width: 40%;
    position: absolute;
    top: 45%;
    left: 14%;
    font-size: 3vw;
    line-height: 3vw;
  }

   .read-more p:nth-of-type(1) {
    font-size: 3.5vw;
    line-height: 4vw;
  }

  .read-more p:nth-of-type(2) { 
    width: 50%;
    font: 400 4vw/4vw Adobe Caslon Pro;
  }

  .read-more span { 
    font-size: 4vw;
    line-height: 6vw;
  }
  
  .main-contain { margin: 38px 0 38px 0; }

  .studio-contain { margin: 134px 0 32px 0; }

  .care-contain { margin: 134px 0 38px 0; }

  .stocklist-contain, .contact-contain { margin: 134px 0 35px 0; }

  .press-contain { margin: 133px 0 43px 0; }
  
  .next {
    position: absolute;
    bottom: 13px;
    left: 40%;
  }

  .arrow li:nth-of-type(1) { top: 55%; }

  .arrow li:nth-of-type(2) { top: 55%; }

  .see-more a { width: 41.5%; }

  .main-contain li:hover .see-more { display: none; }

  .main-contain li:nth-of-type(1):hover .about { display: block; }

  .main-contain li:nth-of-type(2):hover .read-more { display: block; }  

  .main-contain li:nth-of-type(4):hover .more-collection { display: block; }

  .main-contain li:nth-of-type(5):hover .view-stories { display: block; }  

  .main-contain li:nth-of-type(3) p {
    font-size: 2vw;
    line-height: 3.2vw;
  }

  .slider figure img { margin-top: 91px; }

  .wrapper .studio-contain > ul > li  {
    width: 100%;
    margin: 0;
    display: block;
  }

  .wrapper .studio-contain > ul > li:nth-of-type(1) { margin-bottom: 40px; }

  .title { 
    width: 100%;
    margin: 0 0 40px 0;
    display: block;
  }
  
  .title > span { margin-bottom: 10px; }
  
  .photos { width: 100%; }

  .store-info  ul { 
    width: 100%;
    padding: 0;
    border: none;
    display: block; 
    text-align: center;
  } 
  .store-info ul li address span:nth-of-type(3) {
    width: 55%;
    display: inline-block;
  } 
  .store-info ul li address span:nth-of-type(3) > span:first-child:after { border-right: none; }

  .store-info ul li address span:nth-of-type(3) > span:first-child { display: block; }

  .press-contain > .press-article > ul > li {
    width: 100%;
    margin-bottom: 30px;
    display: block;
    text-align: center;
  }

  .press-contain > .press-article > ul > li:nth-of-type(3) { margin-bottom: 0; }

  .ipsum { width: 100%; }

  .ipsum a { 
    margin-bottom: 20px;
    display: block;
    font-size: 20px;
    text-align: center;
  }

  .download { 
    float: none;
    font-size: 25px;
  }

  .contact-form { 
    width: 100%;
    display: block;
  }
  .contact-form > form > a { 
    width: 91%;
    display: block;
  }

  .enquiry { 
    width: 100%;
    margin: 35px 0 0 0; 
    display: block;
    text-align: center;
  }

  .ecommerce { width: 100%; }

  .ecommerce .send { display: none; }

  .others { 
    width: 100%;
    margin: 0; 
  }

  .lang { margin-top: 0; }

  .social-nav > .header-social > form > input,
  label,
  .social-icon { display: none; }
  
  .header-social > .lang { display: block; }

  .footer-contain { text-align: center; } 

  .copyright { margin-top: 10px; }
  .about,
  .more-collection { top: 23%; }

  .view-stories { top: 20%; }

  .view { font: 300 4vw/5vw GillSans; }
  
  .more,
  .more-collection span:nth-of-type(2),
  .more-collection span:nth-of-type(3),
  .view-stories p span:nth-of-type(2),
  .view-stories p span:nth-of-type(3) { 
    font-size: 6.5vw;
    line-height: 7vw;
  }

  .view-stories p span:nth-of-type(1),
  .more-collection span:nth-of-type(1) { 
    font-size: 4vw;
    line-height: 5vw;
  }

}

@media screen and (max-width: 415px) { 
  h1 img { width: 60%; }

  .icons { bottom: 20px; }

  .read-more p:nth-of-type(1) { margin-bottom: 20px; }

  .photos li:nth-of-type(1) { margin-bottom: 8px; }

  .photos li:nth-of-type(2) { margin-right: 0.8%; }
} 

/*end of media query*/